@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
  @apply bg-bookmark-purple text-white;
}

.btn-white {
  @apply bg-bookmark-white;
}

.mobile-nav-btn {
  @apply uppercase bg-transparent text-white cursor-pointer tracking-wide w-full border-2 border-solid border-white rounded-r-sm px-4 py-2;
}

.show {
  display: block;
}

.click.x {
  transform: rotateZ(360deg);
  transition: transform 0.6s;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

[data-faq-answer] {
  display: none;
}
.open[data-faq-answer] {
  display: block;
}
.open .icon-rotate {
  transform: rotate(180deg);
}
