@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-purple {
  @apply bg-bookmark-purple text-white;
}

.btn-white {
  @apply bg-bookmark-white;
}

.mobile-nav-btn {
  @apply uppercase bg-transparent text-white cursor-pointer tracking-wide w-full border-2 border-solid border-white rounded-r-sm px-4 py-2;
}

.show {
  @apply block;
}

[data-tab-content] {
  @apply hidden;
}

.active[data-tab-content] {
  @apply block;
}

.active-tab {
  @apply text-bookmark-red border-b border-dashed border-bookmark-red;
}

[data-faq-answer] {
  @apply hidden;
}
.open[data-faq-answer] {
  @apply block;
}
.open .icon-rotate {
  @apply transform rotate-180;
}

/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
